# Ignore build install log folder
build/
install/
log/

# Ignore IDE and editor specific files
.vscode/
.idea/
*.iml

# Ignore logs and temporary files
*.log
*.tmp

# Ignore compiled binaries and executables
*.exe
*.dll
*.so
*.dylib

# Ignore package-lock.json for npm
package-lock.json

# Ignore yarn.lock for yarn
yarn.lock

# Ignore .env files containing sensitive information
.env

# Ignore macOS specific files
.DS_Store
